<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mybatis.dynamic.relation.mapper.EmployeeMapper">
    <resultMap id="EmployeeResultMap" type="cn.mybatis.dynamic.relation.po.EmployeeInfo">
        <id property="id" column="id"/>
        <result property="empName" column="empName"/>
    </resultMap>
    <!-- select one  class name-->
    <select id="getEmployeeById" parameterType="java.lang.Integer" resultMap="EmployeeResultMap">
        select * from t_employee where id=#{id}
    </select>


</mapper>
